table {
  width: 100%;
}

.thumbnail{
  width: 80px;
  height: 80px;
}


a{
  &:hover,
  &:active,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s;
    cursor: pointer;
    color: white;
  }

}

.container{
  background-color: #303030;
  h1{
    color: #e91e63;
  }
  &-search{
    padding: 10px;
  }
  &-table{
    padding: 10px;
  }
}

.chip-list {
  width: 100%;
  color: white;
}
